<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>My Store with Stripe and NodeJS</title>
    <!-- Bootstrap watch 5 -->
    <link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="main.css">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/f2da9fba6e.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-dark bg-primary p-2">
        <div class="container">
            <a href="/" class="navbar-brand">
                My Store Title
            </a>
        </div>
    </nav>

    <div class="container p-4">
        {{{ body }}}
    </div>

</body>

</html>